body {
	background-color: rgb(128,128,128)
}

svg {
	display: block;
	margin: auto;
}

#routeSelect { 
	float: left;
}

.neighborhood {
	stroke: rgb(255,255,255);
	fill: rgb(200,200,200);
}

.road {
    stroke: rgb(0,0,0);
    fill: none;
}

.vehicle {
	stroke: rgb(128,128,128);
	fill: rgb(255,31,31);
	opacity: 0.4;
}

.invis {
	display: none;
}